.box1 {
    width: 242.101px;
    height: 241.257px;
    transform: rotate(30deg);
    flex-shrink: 0;
    position: absolute;
    background:  #b4452a  ;
    /* background: url("../../assets/image/mesh-gradient1.png"); */
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
    filter: blur(40px);
  }
  .box2 {
    background: #0048F5;
    width: 150.101px;
    border-radius: 50%;
    height: 150.257px;
    transform: rotate(30deg);
    filter: blur(80px);
  }

  .bg-spiral{
    mix-blend-mode: luminosity;
    background-image: url("../../assets/image/spiral.png");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 800px;
  }
